* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Apercu, sans-serif;
  padding: 3%;
}
.main {
  max-width: 100%;
  width: 90%;
  margin: 3em auto;
}
.night {
  background-color: #171c28;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.day {
  background-color: #fff;
  color: #444452;
  transition: all 0.4s ease-in-out;
}
.day svg {
  stroke: #000;
}
.night svg {
  stroke: #fff;
}
.introduction {
  max-width: 700px;
  height: 85vh;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_hi,
.intro-tagline {
  font-weight: 300;
  font-size: 2.8rem;
}
.intro-tagline {
  margin-top: 1.5em;
  font-size: 2.8rem;
}
.intro-contact {
  font-weight: 300;
  margin-top: 2.5em;
  padding: 0.3rem;
}
.intro-contact img {
  margin-bottom: -0.4rem;
  padding-left: 0.2rem;
}
.contact-email {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: inset 0 -3px 0 #007bff;
  padding: 0.2em;
  margin-left: 0.3em;
  border-left: 1px solid #007bff;
  transition: all 0.3s ease-in-out;
}
.contact-email:hover {
  box-shadow: inset 0 -100px 0 #007bff;
}
.name {
  font-weight: 700;
}
.emoji {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}
.background,
.skills,
.other-projects {
  display: flex;
  margin: 7em auto;
  width: 90%;
  justify-content: space-between;
}
.skills {
  margin: 6em auto;
}
.other-projects-list {
  width: 70%;
}
.background div,
.skills-list,
.each-project {
  width: 70%;
}
.background h4,
.skills h4,
.other-projects h4 {
  text-transform: uppercase;
  color: #007bff;
  letter-spacing: 0.1rem;
  min-width: 10%;
}
.background p,
.other-projects p {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 2em 0;
}
.other-projects p {
  margin: 0.5em 0;
}
.background p:first-child {
  margin: 0;
}
.night-paragraph {
  color: #afafbf;
}
.important {
  font-weight: 700;
  color: #fff;
}
.important a {
  color: #fff;
}
.skills ul {
  list-style-type: none;
  font-weight: 300;
  color: #afafbf;
}
.skills ul li {
  line-height: 1.7em;
}
@keyframes wave {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: none;
  }
}
.wave {
  animation: wave 1s ease;
}
.skills-list {
  display: flex;
  justify-content: space-between;
}
.resume {
  font-size: 1.3rem;
  text-align: center;
}
.arrow {
  width: 20px;
  height: 18px;
  margin-left: 0.3em;
  margin-bottom: -0.1em;
  transition: all 0.1s linear;
}
.resume a:hover > .arrow,
.project-links a:hover > .arrow {
  transform: translateX(30%);
}
small {
  display: inline-block;
  margin-right: 0.6em;
  margin-top: 0.5em;
  padding: 0.6em;
  text-align: center;
  border: 1px solid rgb(0, 123, 255);
  color: rgb(0, 123, 255);
  border-radius: 3px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}
.socials .text {
  text-transform: uppercase;
  color: #007bff;
  letter-spacing: 0.1rem;
  font-weight: 700;
  transition: all 0.3s ease;
  padding-bottom: 0.2em;
}
.socials a:hover > .text {
  border-bottom: 2px solid #007bff;
}
.socials a {
  margin: 0 0.5em;
}
.rockstar {
  width: 17px;
  height: 17px;
}
.socials .emoji {
  display: none;
  transition: all 0.2s ease;
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 5px;
  cursor: pointer;
}
.individual-project {
  margin-bottom: 3em;
}
.day .contact-email,
.day .night-paragraph,
.day .important,
.day a,
.day .project-links a,
.day .resume a,
.day li {
  color: #444452;
  transition: all 0.3s ease-in-out;
}
.background a {
  text-decoration: underline;
}
.each-project {
  margin-bottom: 3em;
}
.each-project img {
  margin-bottom: 1em;
}

@keyframes downButton {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}
.down-button {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  animation: downButton 2s ease infinite;
}
@media (max-width: 768.98px) {
  .intro-tagline,
  .intro_hi {
    font-size: 2.1rem;
  }
  .intro-tagline {
    margin: 5em 0;
  }
  .introduction {
    line-height: 2.5rem;
  }
  .background,
  .skills,
  .other-projects {
    flex-direction: column;
  }
  .background p,
  .skills-list ul,
  .background p:first-child {
    margin-top: 1.5em;
  }
  .background p,
  .background p:first-child,
  .important,
  .skills ul li,
  .other-projects p {
    font-size: 0.9rem;
  }
  .skills-list,
  .each-project {
    font-size: 0.9rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .background div,
  .skills-list,
  .each-project {
    width: 90%;
    margin-left: auto;
  }
  .other-projects-list {
    margin: 1em 0;
    width: 90%;
    margin-left: auto;
  }
  .socials .text {
    display: none;
    transition: all 0.2s ease;
  }
  .socials .emoji {
    display: inline-block;
    transition: all 0.2s ease;
    width: 20px;
    height: 20px;
  }
  .each-project {
    margin-top: 1.5em;
  }
}
@media (max-width: 576px) {
  .intro-tagline,
  .intro_hi {
    font-size: 1.5rem;
  }
  .intro-tagline {
    margin: 3em 0;
  }
  .skills-list ul {
    width: 40%;
  }
  .arrow {
    margin-bottom: -0.1em;
    width: 12px;
    height: 12px;
  }
  small {
    padding: 0.2em 0.3em;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  .copyright {
    font-size: 1rem;
  }
  .socials {
    margin: 1.3em 0;
  }
  .contact-email {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .introduction {
    height: 70vh;
    max-width: 400px;
  }
  .intro-tagline,
  .intro-contact {
    margin-top: 1em;
  }
  .intro-tagline,
  .intro_hi {
    font-size: 1.4rem;
  }
  small {
    padding: 0.2em 0.3em;
  }
}
